{% extends "arduinodata/layout.html" %}

{% load static %}

{% block head %}
    <title>Quantum Robotics</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'arduinodata/css/styles.css' %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'arduinodata/js/index.js' %}"></script>
{% endblock %}

{% block body %}
<body class="d-flex flex-column h-100">
    {% for key,board in value_boards %}
        <button data-board={{key}}>{{board}}</button>
    {% endfor %}
    <h1>ARDUINO</h1>
    <div id="all_products">
        <ul>
        {% for arduino in arduino_list %}
            <li>{{arduino.board_name}}</li>
        {% endfor %}
        </ul>
    </div>
    <div id="models"></div>
    <h2>Save arduino's register</h2>
    <form>
        {% csrf_token %}
        {{form}}
    <input type="submit" id="oferta_compra" value="Save"> 
    </form>
    
</body>
{% endblock %}
